.table.block {
  width: 100%;
  overflow-x: auto;
  padding-top:20px;
  padding-bottom:40px;
}

.table.block table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

.table.block table thead tr, .table.block table tbody tr, table th, table td {
  border: 1px solid #d0d4d9;
}


.table.block table th {
  font-weight: 700;
}

.table.block table th,
.table.block table td {
  padding: 40px 10px;
  text-align: left;
  line-height: 28px;
}

.table table td p + p {
  margin-top: 0.25em;
}

main .section.legal .table table th p,
main .section.legal .table table td p {
  margin: 0;
}

/* no header variant */
.table.block.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.table.block.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

/* bordered variant */
.table.block.bordered table th,
.table.block.bordered table td {
  border: 1px solid;
}

/* col-striped variant — alternating column background */
.table.block.col-striped table td:nth-child(even),
.table.block.col-striped table th:nth-child(even) {
  background-color: #f2f0f1;
}


@media (width >= 600px) {
  .table.block table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table.block table {
    font-size: var(--body-font-size-m);
  }
}
