.cards-support {
  font-size: var(--body-font-size-s);
  line-height: 150%;
  font-family: Gotham-book, Arial, Helvetica, sans-serif;
  color: #414448;
}

.cards-support-container h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  font-family: Gotham, Arial, Helvetica;
  color: #0f3133;
  letter-spacing: -0.96px;
}

.cards-support-container a:any-link {
  color: black;
  font-family: Gotham;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.32px;
}

.cards-support > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards-support > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  padding: 24px;
  border-radius: 24px;
}

.cards-support .cards-support-card-body {
  margin: 0;
}

.cards-support .cards-support-card-image {
  line-height: 0;
}

.cards-support > ul > li img {
  object-fit: cover;
}
